body {
    background-color: white;
}
div.spacer {
    width: 100%;
    height: 100px;
}
iframe {
    margin:0;
    padding:0;
    overflow:hidden;
}
.leaderboard {
    width: 728px;
    height: 90px;
}
.rectangle {
    width: 300px;
    height: 250px;
}
.large_rectangle {
    width: 336px;
    height: 280px;
}
.halfpage {
    width: 300px;
    height: 600px;
}
.skyscraper {
    width: 120px;
    height: 600px;
}
.wide_skyscraper {
    width: 160px;
    height: 600px;
}
.small_rectangle {
    width: 180px;
    height: 150px;
}
